<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.ssm.dao.DeptDao">

    <!--用户信息关联查询-->
    <select id="findById" resultType="com.db.ssm.pojo.Dept">
           select * from sys_depts where id = #{deptId}
    </select>

    <!--角色呈现查询数据-->
    <select id="findObjects" resultType="map">
      select c.* ,(
            select p.name from sys_depts p
            where c.parentId = p.id
            ) parentName
        from sys_depts c
    </select>

    <!--添加上级数据查询-->
    <select id="findZtreeDeptNodes" resultType="com.db.ssm.common.vo.Node">
         select id,name,parentId from sys_depts
    </select>

    <!--添加信息-->
    <insert id="saveObjects" parameterType="com.db.ssm.pojo.Dept">
       insert into sys_depts
         (name,sort, note,parentId,createdTime,modifiedTime,createdUser,modifiedUser)
        values
         (#{name},#{sort},#{note},#{parentId},now(),now(),#{createdUser},#{modifiedUser})
    </insert>

    <!--查询部门下关联员工信息-->
    <select id="query" resultType="int">
        select count(*) from sys_depts where parentId = #{id}
    </select>
    <!--查询部门人数-->
    <select id="userCountByDeptId" resultType="int">
       select count(*) from sys_users where deptId = #{deptId}
    </select>

    <!--修改部门信息-->
    <update id="updateObject" parameterType="com.db.ssm.pojo.Dept">
        update sys_depts set
           name = #{name}, sort = #{sort}, note = #{note},parentId = #{parentId},
           modifiedUser = #{modifiedUser},modifiedTime = now()
        where id = #{id}
    </update>

    <!--删除部门-->
    <delete id="deleteId" parameterType="int">
        delete from sys_depts where id = #{id}
    </delete>


    <!--<select id="findObjectById" resultType="map">-->
        <!--select c.*,p.name parentName-->
        <!--from sys_depts c left join sys_depts p-->
        <!--on c.parentId = p.id-->
        <!--where c.id = #{id}-->
    <!--</select>-->
</mapper>
