<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.ssm.dao.LogDao">

    <!-- mybatis中通过sql标签定义SQL共性 -->
    <sql id="queryWhereId">
        <where>
            <if test="username!=null and username!=''">
                username like concat('%',#{username},'%')
            </if>
        </where>
    </sql>

    <!-- 分页查询当前页记录 -->
    <select id="findPageObjects" resultType="com.db.ssm.pojo.Log">
        select *from sys_logs
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 按条件统计总记录数 -->
    <select id="getRowCount" resultType="int">
        select count(*) from sys_logs
        <include refid="queryWhereId"/>
    </select>

    
    <!--删除日志记录-->
    <delete id="deleteObjects">
        delete from sys_logs where id in
        <foreach collection="ids"
                 open="("
                 separator=","
                 close=")"
                 item="item">
            #{item}
        </foreach>
    </delete>





</mapper>
